@{
    ViewBag.Title = "Create";
}

<section id="clients-create">
    <div class="formDiv details-left">
        <div>
            <label class="titleLabel">CREATE CLIENT</label>
        </div>
        <div>
            <label class="boldLabel formLabel">Name</label>
             <input type="text" class="textBox field" required data-bind="value: client().Name" placeholder="Client Name" />
        </div>
        <div>
            <label class="boldLabel formLabel" >Description</label>
            <textarea class="textArea field" required data-bind="value: client().Description"></textarea>
        </div>
        <div>
            <label class="boldLabel formLabel" for="website">Website</label>
             <input id="website" type="text" class="textBox field" required data-bind="value: client().Website" placeholder="www.somecompany@contoso.com" />
        </div>
        <div>
            <label class="boldLabel formLabel">Industry</label>
            <select class="industry field" required data-bind="options: industries, optionsText: 'Name', value: client().SelectedIndustry, optionsCaption: 'Industry'"></select>
        </div>
        <div>
            <label class="boldLabel formLabel" >Address</label>
            <select class="industry field" required data-bind="options: countries, optionsText: 'Name', value: client().Address().Country, optionsCaption: 'Country'"></select>
            <select class="industry field" required data-bind="options: states, optionsText: 'Name', value: client().Address().State, optionsCaption: 'State'"></select>
            <select class="industry field" required data-bind="options: cities, optionsText: 'Name', value: client().Address().City, optionsCaption: 'City'"></select>
        </div>
        <div>
            <label class="boldLabel formLabel"></label>
            <input type="text" class="textBox field" required data-bind="value: client().Address().Street1" placeholder="Street 1" />
        </div>
        <div>
            <label class="boldLabel formLabel"></label>
            <input type="button" class="field" style="float: right;" data-bind="command: createCommand, activity: createCommand.isExecuting" value="Save"/>
        </div>
    </div>
</section>
@section scripts{
    @Scripts.Render("~/bundles/clients-create")
}
