@{
    ViewBag.Title = "Create";
}

<section id="clients-create" style="margin: 4px;">
    <div class="control-div">
        <label class="titleLabel left">CREATE CLIENT</label>
    </div>
    <div class="control-div">
        <div class="wizardContainer left">
            <div class="wizardStepsContainer left">
                <ul class="wizardStepsList left" style="padding: 0;">
                    <li id="step1" class="step left">
                        <img src="/rr/Content/images/details_white.png" class="stepImage left" width="15" height="15" />
                        <label class="stepLabel left">DETAILS</label>
                    </li>
                    <li id="step2" class="step left">
                        <img src="/rr/Content/images/contacts_white.png" class="stepImage left" width="15" height="15" />
                        <label class="stepLabel left">CONTACTS</label>
                    </li>
                    <li id="step3" class="step left">
                        <img src="/rr/Content/images/money_white.png" class="stepImage left" width="15" height="15" />
                        <label class="stepLabel left">REVENUE</label>
                    </li>
                    <li id="step4" class="step left">
                        <img src="/rr/Content/images/document_white.png" class="stepImage left" width="15" height="15" />
                        <label class="stepLabel left">DOCUMENTS</label>
                    </li>
                </ul>
            </div>
            <div class="wizardStepViewContainer left">
                <div class="wizardStepViewSection left">
                    <div id="view1" class="view" data-bind="template : {name : details.templateName, data: details}"></div>
                    <div id="view2" class="view" data-bind="template : {name : contacts.templateName, data: contacts}"></div>
                    <div id="view3" class="view">Revenue</div>
                    <div id="view4" class="view">Documents</div>
                    <div id="complete" class="view">Complete</div>
                </div>
                 <div class="wizardButtonsContainer right">
                        <input id="create" type="button" class="normalButton right wizardButton" value="CREATE" data-bind="enable: isSubmitEnabled()"/>
                        <input id="recreate" type="button" class="normalButton right wizardButton" value="CREATE ANOTHER" />
                        <input id="next" type="button" class="normalButton right wizardButton" value="NEXT" data-bind="enable: isNextEnabled()"/>
                        <input id="previous" type="button" class="normalButton right wizardButton" value="PREVIOUS" />
                    </div>
            </div>
        </div>
    </div>
</section>
@section scripts{
    @Scripts.Render("~/bundles/clients-create")
}
