@{
    ViewBag.Title = "Create";
}

<section id="clients-create" style="margin: 4px;">
    <div class="tabHeader">
        CREATE CLIENT
    </div>
    <div class="editContainer details">
        <div class="title">Details</div>
        <div class="section detailsSection">
            <div class="field">
                <input type="text" class="textBox" required data-bind="value: client().Name, valueUpdate: 'afterkeydown'" placeholder="Client Name" />
            </div>
            <div class="field">
                <input type="text" class="textBox" data-bind="value: client().AlternativeNames, valueUpdate: 'afterkeydown'" placeholder="Alternatives Name" />
            </div>
            <div class="field">
                <textarea class="textArea" placeholder="Description" required data-bind="value: client().Description, valueUpdate: 'afterkeydown'"></textarea>
            </div>
            <div class="field">
                <input type="url" class="textBox" required data-bind="value: client().Website, valueUpdate: 'afterkeydown'" placeholder="www.somecompany@contoso.com" />
            </div>
            <div class="field">
                <select class="industry" style="float: left;" required data-bind="options: industries, optionsText: 'Name', value: client().SelectedIndustry, optionsCaption: 'Industry'"></select>
                <select class="priority" style="float: left;" required data-bind="options: priorities, value: client().SelectedPriority, optionsCaption: 'Priority'"></select>
            </div>
            <div class="field">
                <img src="~/Content/images/phone_black.png" width="12" height="17" style="float:left; margin:4px 2px 4px 2px;" />
                <input type="text" class="textBox" style="width: 30%; float: left;" required data-bind="value: client().Phone().Phone, valueUpdate: 'afterkeydown'" placeholder="Phone" />
                <img src="~/Content/images/fax_black.png" width="15" height="20" style="float:left; margin:4px 2px 4px 16px;" />
                <input type="text" class="textBox" style="width: 30%; float: left;" data-bind="value: client().Phone().Fax, valueUpdate: 'afterkeydown'" placeholder="Fax" />
            </div>
            <div class="field">
                <input type="file" />
            </div>
        </div>
    </div>
    <div class="editContainer address">
        <div class="title">Address</div>
        <div class="section addressSection">
            <div class="field">
                <input type="text" class="textBox" required data-bind="value: client().Address().Street1" placeholder="Street 1" />
            </div>
            <div class="field">
                <input type="text" class="textBox" data-bind="value: client().Address().Street2" placeholder="Street 2" />
            </div>
            <div class="field">
                <input type="text" class="textBox" data-bind="value: client().Address().Street3" placeholder="Street 3" />
            </div>
            <div class="field">
                <input type="text" class="textBox" data-bind="value: client().Address().Pincode" placeholder="Pincode" />
            </div>
        </div>
    </div>
    <div class="editContainer location">
        <div class="title">Location</div>
        <div class="section locationSection">
            <div class="field">
                <select class="country" style="width: 200px;" required data-bind="options: countries, optionsText: 'Name', value: client().Address().Country, optionsCaption: 'Country'"></select>
            </div>
            <div class="field">
                <select class="state" style="width: 200px;" required data-bind="options: states, optionsText: 'Name', value: client().Address().State, optionsCaption: 'State'"></select>
            </div>
            <div class="field">
                <select class="city" style="width: 200px;" required data-bind="options: cities, optionsText: 'Name', value: client().Address().City, optionsCaption: 'City'"></select>
            </div>
        </div>
    </div>
    <div class="editContainer agreement">
        <div class="title">Agreement</div>
        <div class="section agreementSection">
            <div class="field">
                <input type="file" class="textBox" />
            </div>
        </div>
    </div>
    <div class="editContainer contacts">
        <div class="title">Contacts</div>
        <div class="section contactsSection">
            <div class="field">
                <input type="text" class="textBox" style="width: 20%; float: left;" data-bind="value: client().ContactName, valueUpdate: 'afterkeydown'" placeholder="Name" />
                <input type="text" class="textBox" style="width: 20%; float: left;" data-bind="value: client().ContactTitle, valueUpdate: 'afterkeydown'" placeholder="Title" />
                <img src="~/Content/images/phone_black.png" width="12" height="17" style="float:left; margin:4px 2px 4px 16px;" />
                <input type="text" class="textBox" style="width: 15%; float: left;" data-bind="value: client().ContactPhone, valueUpdate: 'afterkeydown'" placeholder="Phone" />
                <img src="~/Content/images/email_black.png" width="15" height="12" style="float:left; margin:4px 2px 4px 16px;" />
                <input type="email" class="textBox" style="width: 15%; float: left;" data-bind="value: client().ContactEmail, valueUpdate: 'afterkeydown'" placeholder="Email" />
                <input type="button" class="addButton" style="margin-left: 16px;" data-bind="command: client().AddContactCommand, activity: client().AddContactCommand.isExecuting" value="ADD" />
            </div>
            <div class="field">
                <ul class="horizontalLayout" data-bind="template: {name: contactsTemplate, foreach: client().Contacts}"></ul>
            </div>
    </div>
    <div class="editContainer buttonPanel">
        <input id="cancel" type="button" class="button cancel" style="float: right;" value="CANCEL" />
        <input type="button" class="button save" style="float: right;" data-bind="command: createCommand, activity: createCommand.isExecuting, enable: isValid" value="SAVE" />
    </div>
</section>
@section scripts{
    @Scripts.Render("~/bundles/clients-create")
}
