@{
    ViewBag.Title = "List";
}

<section id="clients-view">
    <ul class="inbox" data-bind="template: {name: templateName, foreach: clients}"></ul>
</section>
@section scripts{
    @Scripts.Render("~/bundles/clients")
}