@{
    ViewBag.Title = "List";
}

<section id="clients-view">
    <div class="filterContainer">
        <div class="filterItemContainer">
            <select data-bind="options: priorities, value: selectedPriority, optionsCaption: 'Priority'"></select>
        </div>
        <div class="filterItemContainer">
            <select data-bind="options: industries, optionsText: 'Name', value: selectedIndustry, optionsCaption: 'Industry'"></select>
        </div>
        <div class="filterItemContainer">
            <input type="button" class="button filter" value="APPLY" />
        </div>
    </div>
    <span>
        <label class="boldLabel" style="margin-left: 2%;">SHOWING</label>
        <label class="normalLabel blueLabel" data-bind="text: showing"></label>
        <label class="boldLabel">OF</label>
        <label class="normalLabel blueLabel" data-bind="text: total"></label>
        <label class="boldLabel">CLIENTS</label>
        <input type="button" class="addButton right" value="Add new client" data-bind="command: addNewClientCommand, activity: addNewClientCommand.isExecuting" />
    </span>
    <ul class="horizontalLayout" data-bind="template: {name: templateName, foreach: clients}"></ul>
</section>
@section scripts{
    @Scripts.Render("~/bundles/clients-list")
}