@{
    ViewBag.Title = "Personalize";
}

<section id="personalize-view">
    <div class="adminContainer">
        <div class="field adminCategory">
            Personalize
        </div>
        <br />
        <br />
        <div class="field margin">
            <div class="left-div" style="width: 20%;">
                <label class="boldLabel" style="margin-left: 30px;">Company Name</label>
            </div>
            <div class="left-div" style="width: 80%;">
                <div>
                    <input type="text" class="companyAppHeader" required placeholder="My Company" />
                    <label class="mildText extraSmall">This will be used as your app header and in email communications</label>
                </div>
            </div>
        </div>
        <div class="field margin">
            <div class="left-div" style="width: 20%;">
                <label class="boldLabel" style="margin-left: 30px;">Logo</label>
            </div>
            <div class="left-div" style="width: 80%;">
                <div>
                    <input type="file" />
                </div>
            </div>
        </div>
        <div class="field margin">
            <div class="left-div" style="width: 20%;">
                <label class="boldLabel" style="margin-left: 30px;">Callback link</label>
            </div>
            <div class="left-div" style="width: 80%;">
                <div>
                    <input type="email" class="callbackUrl" required placeholder="http://www.talentcorner.co.in" />
                    <label class="mildText extraSmall">This will be link when logo is clicked</label>
                </div>
            </div>
        </div>
        <div class="field margin">
            <div class="left-div" style="width: 20%;">
                <label class="boldLabel" style="margin-left: 30px;">Fav icon</label>
            </div>
            <div class="left-div" style="width: 80%;">
                <div>
                    <input type="file" />
                </div>
            </div>
        </div>
        <div class="field margin">
            <div class="left-div" style="width: 20%;">
                <label class="boldLabel" style="margin-left: 30px;">Colors</label>
            </div>
            <div class="left-div" style="width: 80%;">
                <div>
                    <div>
                        <div class="left-div" style="width: 5%;">
                            <label class="mildText extraSmall">Basic</label>
                        </div>
                        <div class="left-div" style="width: 20%;">
                            <input class="basic" type="text" maxlength="6" size="6" id="basic" value="#0094cd" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
@section scripts{
    @Scripts.Render("~/bundles/admin-view")
}