@{
    ViewBag.Title = "Personalize";
}

<section id="personalize-view">
    <div class="adminContainer">
        <div class="adminSection">
            <div class="field adminCategory">
                Personalize
            </div>
            <br />
            <br />
            <div class="field margin">
                <div class="left-div" style="width: 20%;">
                    <label class="boldLabel" style="margin-left: 30px;">Company Name</label>
                </div>
                <div class="left-div" style="width: 80%;">
                    <div>
                        <input type="text" class="companyAppHeader" required placeholder="My Company" />
                        <label class="mildText extraSmall">This will be used as your app header and in email communications</label>
                    </div>
                </div>
            </div>
            <div class="field margin">
                <div class="left-div" style="width: 20%;">
                    <label class="boldLabel" style="margin-left: 30px;">Logo</label>
                </div>
                <div class="left-div" style="width: 80%;">
                    <div>
                        <input type="file" />
                    </div>
                </div>
            </div>
            <div class="field margin">
                <div class="left-div" style="width: 20%;">
                    <label class="boldLabel" style="margin-left: 30px;">Callback link</label>
                </div>
                <div class="left-div" style="width: 80%;">
                    <div>
                        <input type="email" class="callbackUrl" required placeholder="http://www.talentcorner.co.in" />
                        <label class="mildText extraSmall">This will link back to your website when logo is clicked</label>
                    </div>
                </div>
            </div>
            <div class="field margin">
                <div class="left-div" style="width: 20%;">
                    <label class="boldLabel" style="margin-left: 30px;">Fav icon</label>
                </div>
                <div class="left-div" style="width: 80%;">
                    <div>
                        <input type="file" />
                    </div>
                </div>
            </div>
            <div class="field margin">
                <div class="left-div" style="width: 20%;">
                    <label class="boldLabel" style="margin-left: 30px;">Colors</label>
                </div>
                <div class="left-div" style="width: 80%;">
                    <div class="left-div" >
                        <div class="left-div" style="width: 5%;">
                            <label class="mildText extraSmall">Basic</label>
                        </div>
                        <div class="left-div" style="width: 20%;">
                            <input class="basic" type="text" maxlength="6" size="6" id="basic" value="#0094cd" />
                        </div>
                    </div>
                    <div class="left-div" style="margin-top: 4px;">
                        <div class="left-div" style="width: 5%;">
                            <label class="mildText extraSmall">Mid</label>
                        </div>
                        <div class="left-div" style="width: 20%;">
                            <input class="mid" type="text" maxlength="6" size="6" id="mid" value="#0094cd" />
                        </div>
                    </div>
                    <div class="left-div" style="margin-top: 4px;">
                        <div class="left-div" style="width: 5%;">
                            <label class="mildText extraSmall">Bold</label>
                        </div>
                        <div class="left-div" style="width: 20%;">
                            <input class="bold" type="text" maxlength="6" size="6" id="bold" value="#0094cd" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="previewSection">
            <div class="previewHeaderDiv">PREVIEW</div>
            <div class="previewAppDiv">
                <div class="header">
                </div>
                <div class="menu-mini">
                    <ul class="menu-mini-ul">
                        <li class="menuitem-mini-li"><a class="menuLink-mini">INBOX</a></li>
                        <li class="menuitem-mini-li"><a class="menuLink-mini">CALENDAR</a></li>
                        <li class="menuitem-mini-li"><a class="menuLink-mini">CLIENTS</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
@section scripts{
    @Scripts.Render("~/bundles/admin-view")
}