@{
    ViewBag.Title = "Inbox";
}

<section id="inbox-view">
    <div id="topPanel">
        <div id="filterPanel">
            <div class="filterContainer">
                <div class="left-div squaredOne">
                    <input type="checkbox" value="None" id="overdue" name="overdue" />
                    <label class="labelForCheckbox" for="overdue"></label>
                </div>
                <label class="left-div defaultLabel" for="overdue">By overdue items</label>
                <div class="filterItemContainer">
                    <input type="text" id="company" class="search" placeholder="Company..." data-bind="value: clientQuickSearch.displayName, ko_autocomplete: { minLength: 3, source: clientQuickSearch.search, select: clientQuickSearch.select, templateFunction: clientQuickSearch.template}"/>
                </div>
                <div class="filterItemContainer">
                    <select>
                        <option>Interview status</option>
                        <option>One</option>
                        <option>Two</option>
                        <option>Three</option>
                    </select>
                </div>
                <div class="filterItemContainer">
                    <input type="text" id="date" class="datepicker" style="float: left;" placeholder="Date..." />
                </div>
                <div class="filterItemContainer">
                    <label class="defaultLabel" for="noOfRecords">No of records</label>
                    <select id="noOfRecords">
                        <option>20</option>
                        <option>30</option>
                        <option>40</option>
                    </select>
                </div>
                <div class="filterItemContainer">
                    <input type="button" class="filterButton" value="APPLY" />
                </div>
            </div>
        </div>
        <div id="updatesPanel">
            Some updates
        </div>
        <div class="tab">
            <div data-bind="command: filterToggleCommand, activity: filterToggleCommand.isExecuting" class="filter">FILTER</div>
            <div data-bind="command: updatesToggleCommand, activity: updatesToggleCommand.isExecuting" class="updates">UPDATES</div>
        </div>
    </div>
    <div class="left-div">
        <div>
            <ul class="statusList">
                <li class="statusItem" data-bind="text: open"></li>
                <li class="statusItem">In-Progress (5)</li>
                <li class="statusItem">On-Hold (5)</li>
            </ul>
        </div>
        <div>
            <ul class="inbox">
                <li class="inboxItem">Open (7)</li>
                <li class="inboxItem">In-Progress (5)</li>
                <li class="inboxItem">On-Hold (5)</li>
                <li class="inboxItem">Open (7)</li>
                <li class="inboxItem">In-Progress (5)</li>
                <li class="inboxItem">On-Hold (5)</li>
                <li class="inboxItem">Open (7)</li>
                <li class="inboxItem">In-Progress (5)</li>
                <li class="inboxItem">On-Hold (5)</li>
                <li class="inboxItem">Open (7)</li>
                <li class="inboxItem">In-Progress (5)</li>
                <li class="inboxItem">On-Hold (5)</li>
                <li class="inboxItem">Open (7)</li>
                <li class="inboxItem">In-Progress (5)</li>
                <li class="inboxItem">On-Hold (5)</li>
            </ul>
        </div>
    </div>
</section>
@section scripts{
    @Scripts.Render("~/bundles/inbox")
}