* {
  margin: 0;
  font-family: "Segoe UI", Arial, Helvetica, Verdana;
  font-size: 10pt;
}
.overflow {
  -ms-text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
}
.left {
  float: left;
}
body {
  cursor: default;
  background: #f8f7f7;
}
.blue {
  background: #0094cd;
  /*background: -moz-linear-gradient(top,  @metro-blue 0%, @metro-mild-blue 45%, @metro-serious-blue 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,@metro-blue), color-stop(45%,@metro-mild-blue), color-stop(100%,@metro-serious-blue));
	background: -webkit-linear-gradient(top,  @metro-blue 0%,@metro-mild-blue 45%,@metro-serious-blue 100%);
	background: -o-linear-gradient(top,  @metro-blue 0%,@metro-mild-blue 45%,@metro-serious-blue 100%);
	background: -ms-linear-gradient(top,  @metro-blue 0%,@metro-mild-blue 45%,@metro-serious-blue 100%);
	background: linear-gradient(to bottom,  @metro-blue 0%,@metro-mild-blue 45%,@metro-serious-blue 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='@metro-blue', endColorstr='@metro-serious-blue',GradientType=0 );*/

  color: white;
}
.yellow {
  background: #f7e961;
  /* Old browsers */

  background: -moz-linear-gradient(top, #f7e961 0%, #f2dc4d 35%, #efd642 50%, #eccd35 100%);
  /* FF3.6+ */

  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f7e961), color-stop(35%, #f2dc4d), color-stop(50%, #efd642), color-stop(100%, #eccd35));
  /* Chrome,Safari4+ */

  background: -webkit-linear-gradient(top, #f7e961 0%, #f2dc4d 35%, #efd642 50%, #eccd35 100%);
  /* Chrome10+,Safari5.1+ */

  background: -o-linear-gradient(top, #f7e961 0%, #f2dc4d 35%, #efd642 50%, #eccd35 100%);
  /* Opera 11.10+ */

  background: -ms-linear-gradient(top, #f7e961 0%, #f2dc4d 35%, #efd642 50%, #eccd35 100%);
  /* IE10+ */

  background: linear-gradient(to bottom, #f7e961 0%, #f2dc4d 35%, #efd642 50%, #eccd35 100%);
  /* W3C */

  filter: progid:dximagetransform.microsoft.gradient(startColorstr='#f7e961', endColorstr='#eccd35', GradientType=0);
  /* IE6-9 */

  color: black;
}
.border-light-grey {
  border: 1px solid #e7e7e7;
}
.border-cool-grey {
  border: 1px solid #aaaaaa;
}
.metro-blue-gradient {
  background-image: -ms-linear-gradient(top, #0088cc, #0094cd);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#0088cc), to(#0094cd));
  background-image: -webkit-linear-gradient(top, #0088cc, #0094cd);
  background-image: -o-linear-gradient(top, #0088cc, #0094cd);
  background-image: -moz-linear-gradient(top, #0088cc, #0094cd);
  background-image: linear-gradient(top, #0088cc, #0094cd);
  background-repeat: repeat-x;
}
a {
  color: #6AC;
}
fieldset {
  border: 1px solid #e6e6e6;
  padding: 4px;
}
legend {
  font-size: 9pt;
  font-weight: bold;
}
select {
  -webkit-appearance: none;
  font-size: 8pt;
  color: #aaaaaa;
  border: 1px solid #e6e6e6;
  -webkit-border-radius: 4px 4px 4px 4px;
  -moz-border-radius: 4px 4px 4px 4px;
  border-radius: 4px 4px 4px 4px;
  overflow: hidden;
  padding: 3px 20px 3px 3px;
  background-image: url("../Content/images/down_arrow.gif");
  background-repeat: no-repeat;
  background-position: 95% 50%;
}
select:focus {
  -moz-outline: 0;
  outline: 0;
  outline: thin dotted \9;
  border-color: #e6e6e6;
  -webkit-box-shadow: inset 0 0px 1px rgba(0, 0, 0, 0.5), 0 0 8px rgba(230, 230, 230, 0.6);
  -moz-box-shadow: inset 0 0px 1px rgba(0, 0, 0, 0.5), 0 0 8px rgba(230, 230, 230, 0.6);
  box-shadow: inset 0 0px 1px rgba(0, 0, 0, 0.5), 0 0 8px rgba(230, 230, 230, 0.6);
}
select:invalid {
  border-width: 1px;
  border-color: #ff9494;
  background: white;
  background-image: url("../Content/images/down_arrow.gif");
  background-repeat: no-repeat;
  background-position: 95% 50%;
}
select:required {
  /*.validation-icon(@validation-icon-required, 98%, 50%);*/

}
select:required:valid {
  /*background-image: none;*/

}
select:focus:invalid {
  /*.validation-icon(@validation-icon-invalid, 98%, 50%);*/

}
input[type=text],
input[type=password],
input[type=url],
input[type=email],
textarea {
  display: block;
  -webkit-border-radius: 4px 4px 4px 4px;
  -moz-border-radius: 4px 4px 4px 4px;
  border-radius: 4px 4px 4px 4px;
  border: 1px solid #e6e6e6;
  font-family: "Segoe UI", Arial, Helvetica, Verdana;
  font-size: 12px;
  padding: 3px;
}
input[type=text]:focus,
input[type=password]:focus,
input[type=url]:focus,
input[type=email]:focus,
textarea:focus {
  -moz-outline: 0;
  outline: 0;
  outline: thin dotted \9;
  border-color: #e6e6e6;
  -webkit-box-shadow: inset 0 0px 1px rgba(0, 0, 0, 0.5), 0 0 8px rgba(230, 230, 230, 0.6);
  -moz-box-shadow: inset 0 0px 1px rgba(0, 0, 0, 0.5), 0 0 8px rgba(230, 230, 230, 0.6);
  box-shadow: inset 0 0px 1px rgba(0, 0, 0, 0.5), 0 0 8px rgba(230, 230, 230, 0.6);
}
input[type=text]:invalid,
input[type=password]:invalid,
input[type=url]:invalid,
input[type=email]:invalid,
textarea:invalid {
  border-width: 1px;
  border-color: #ff9494;
  background: white;
}
/*input[type=text], input[type=url], input[type=email] {
    &:required {
        .validation-icon(@validation-icon-required, 98%, 50%);
    }

    &:required:valid {
        .validation-icon(@validation-icon-valid, 98%, 50%);
    }

    &:focus:invalid {
        .validation-icon(@validation-icon-invalid, 98%, 50%);
    }
}*/
/*textarea {
    &:required {
        .validation-icon(@validation-icon-required, 98%, 5%);
    }

    &:required:valid {
        .validation-icon(@validation-icon-valid, 98%, 5%);
    }

    &:focus:invalid {
        .validation-icon(@validation-icon-invalid, 98%, 5%);
    }
}*/
input[type=button] {
  font-size: 8pt;
}
input[type=button]:hover {
  background-color: #e7e7e7;
}
.headerContainer {
  width: 100%;
  display: table;
}
.container {
  position: absolute;
  width: 100%;
  top: 90px;
  bottom: 35px;
}
header {
  background-color: #515151;
  height: 60px;
}
.menu {
  background: #0094cd;
  /*background: -moz-linear-gradient(top,  @metro-blue 0%, @metro-mild-blue 45%, @metro-serious-blue 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,@metro-blue), color-stop(45%,@metro-mild-blue), color-stop(100%,@metro-serious-blue));
	background: -webkit-linear-gradient(top,  @metro-blue 0%,@metro-mild-blue 45%,@metro-serious-blue 100%);
	background: -o-linear-gradient(top,  @metro-blue 0%,@metro-mild-blue 45%,@metro-serious-blue 100%);
	background: -ms-linear-gradient(top,  @metro-blue 0%,@metro-mild-blue 45%,@metro-serious-blue 100%);
	background: linear-gradient(to bottom,  @metro-blue 0%,@metro-mild-blue 45%,@metro-serious-blue 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='@metro-blue', endColorstr='@metro-serious-blue',GradientType=0 );*/

  color: white;
  border-color: #0094cd #0094cd #003580;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  display: inline;
  margin: 0px;
}
.menulist {
  background-color: inherit;
  height: inherit;
  padding-left: 20px;
}
.menuitem {
  height: inherit;
  display: inline-block;
  list-style-type: none;
  vertical-align: middle;
  font-weight: bold;
  line-height: 29px;
  -webkit-text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
  background-color: inherit;
  color: #ffffff;
}
.menuitem:hover {
  background-color: white;
  color: black;
}
.active {
  background-color: white;
  color: black;
}
.menuLink {
  font-size: 8pt;
  padding-right: 10px;
  padding-left: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
}
.menuLink:link,
.menuLink:visited {
  color: inherit;
  text-decoration: none;
}
.homeIcon {
  width: 17px;
  height: 16px;
  padding-right: 10px;
  padding-left: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
}
#topnav {
  padding: 10px 15px 12px;
  font-size: 7pt;
  line-height: 23px;
  text-align: right;
  display: table-cell;
  vertical-align: top;
}
a.signin {
  background: transparent;
  padding: 4px 6px 6px;
  text-decoration: none;
  color: #fff;
  -webkit-border-radius: 4px 4px 4px 4px;
  -moz-border-radius: 4px 4px 4px 4px;
  border-radius: 4px 4px 4px 4px;
  *background: transparent;
  *padding: 4px 12px 6px;
  font-size: 7pt;
}
a.signin:hover {
  background: #0094cd;
  color: white;
  *background: white;
  *padding: 4px 12px 6px;
}
#topnav a.signin,
#topnav a.signin:hover {
  *background-position: 0 3px!important;
}
a p {
  overflow: hidden;
  -ms-text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 200px;
  margin: 0;
}
a img {
  border-width: 0;
  color: inherit;
}
a.signin {
  position: relative;
}
a.signin span {
  background-image: url("../Content/images/toggle_down_light.png");
  background-repeat: no-repeat;
  background-position: 100% 50%;
  padding: 4px 16px 6px 0;
  font-size: 8pt;
}
#signin_menu {
  -webkit-border-radius: 4px 4px 4px 4px;
  -moz-border-radius: 4px 4px 4px 4px;
  border-radius: 4px 4px 4px 4px;
  display: none;
  background-color: #ffffff;
  position: absolute;
  width: 210px;
  z-index: 100;
  border: 1px solid transparent;
  text-align: left;
  padding: 12px;
  top: 24.5px;
  right: 0px;
  margin-top: 5px;
  margin-right: 15px;
  *margin-right: -1px;
  color: #789;
  font-size: 7pt;
  -moz-box-shadow: 3px 3px 7px 0px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 3px 3px 7px 0px rgba(0, 0, 0, 0.3);
  box-shadow: 3px 3px 7px 0px rgba(0, 0, 0, 0.3);
}
#signin_menu p {
  margin: 0;
}
#signin_menu p,
#signin_menu a {
  color: #6AC;
}
#signin_menu label {
  font-weight: normal;
  font-size: 9pt;
}
#signin_menu p.remember {
  padding: 0 0 10px 0;
}
#signin_menu p.forgot,
#signin_menu p.complete {
  clear: both;
}
#topnav a.menu-open {
  background: white!important;
  color: #666!important;
  -moz-outline: none;
  outline: none;
}
#small_signup {
  display: inline;
  float: none;
  line-height: 23px;
  margin: 25px 0 0;
}
a.signin.menu-open span {
  background-image: url("../Content/images/toggle_up_dark.png");
  color: #789;
}
a.forgotLink {
  font-size: 9pt;
  margin: 4px 0 0 30px;
  float: left;
}
.profilePic {
  border: 1px solid rgba(255, 255, 255, 0.8);
  -moz-box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.13);
  -webkit-box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.13);
  box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.13);
  padding: 4px;
  float: left;
  -webkit-border-radius: 4px 4px 4px 4px;
  -moz-border-radius: 4px 4px 4px 4px;
  border-radius: 4px 4px 4px 4px;
}
.detailsLabel {
  margin-left: 2%;
  margin-top: 0px;
  color: black;
  font-size: 9pt;
}
.ellipsis {
  white-space: nowrap;
  overflow: hidden;
}
.left-div,
.right-div {
  float: left;
  height: 100%;
}
.left-div {
  width: 100%;
}
.right-div {
  width: 22%;
  margin-top: 5%;
}
.statusList {
  background-color: inherit;
  height: inherit;
  padding-left: 20px;
}
.statusItem {
  display: inline-block;
  padding: 4px 8px 4px 8px;
  font-family: inherit;
  font-size: 9pt;
  -webkit-border-radius: 4px 4px 4px 4px;
  -moz-border-radius: 4px 4px 4px 4px;
  border-radius: 4px 4px 4px 4px;
  cursor: pointer;
  color: black;
  background: white;
  border: 1px solid #e7e7e7;
}
.selectedStatus {
  color: white;
  background: #515151;
}
.selectedStatus:hover {
  background: #515151;
  color: white;
}
.outerDiv {
  border: 1px solid #e7e7e7;
  -webkit-border-radius: 4px 4px 4px 4px;
  -moz-border-radius: 4px 4px 4px 4px;
  border-radius: 4px 4px 4px 4px;
  -moz-box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.2);
}
.headerDiv {
  -webkit-border-radius: 4px 4px 0px 0px;
  -moz-border-radius: 4px 4px 0px 0px;
  border-radius: 4px 4px 0px 0px;
  height: 25px;
  -webkit-text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
  font-family: inherit;
  padding-left: 8px;
  padding-top: 4px;
  font-weight: Bold;
}
input[type=checkbox] {
  visibility: hidden;
}
.squaredOne {
  width: 12px;
  height: 12px;
  background: white;
  border: 1px solid #e7e7e7;
  margin: 4px;
  position: relative;
}
.labelForCheckbox {
  cursor: pointer;
  position: absolute;
  width: 7px;
  height: 7px;
  left: 2px;
  top: 2px;
}
.labelForCheckbox:after {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  -moz-opacity: 0;
  opacity: 0;
  content: '';
  position: absolute;
  width: 6px;
  height: 6px;
  background: #0094cd;
  top: 1px;
  left: 1px;
}
.labelForCheckbox:hover::after {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
  filter: alpha(opacity=30);
  -moz-opacity: 0.3;
  opacity: 0.3;
}
.squaredOne input[type=checkbox]:checked + .labelForCheckbox:after {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  filter: alpha(opacity=100);
  -moz-opacity: 1;
  opacity: 1;
}
.defaultLabel {
  margin: 4px;
  width: auto;
  color: gray;
  font-size: 8pt;
}
.search {
  border: 1px solid #e7e7e7;
  -webkit-box-shadow: inset 0 0 8px rgba(0, 0, 0, 0.1), 0 0 16px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: inset 0 0 8px rgba(0, 0, 0, 0.1), 0 0 16px rgba(0, 0, 0, 0.1);
  box-shadow: inset 0 0 8px rgba(0, 0, 0, 0.1), 0 0 16px rgba(0, 0, 0, 0.1);
  padding: 5px;
  background: rgba(255, 255, 255, 0.5);
  background-image: url("../Content/images/search_blue.png");
  -moz-background-size: 12px 12px;
  -o-background-size: 12px 12px;
  -webkit-background-size: 12px 12px;
  background-size: 12px 12px;
  background-repeat: no-repeat;
  background-position: 98% 50%;
  margin: 0 0 10px 20px;
  font-size: 8pt;
  width: 180px;
  color: #b6b6b6;
}
.search:disabled {
  background: rgba(255, 255, 255, 0.5);
  background-image: url("../Content/images/spinner.gif");
  -moz-background-size: 12px 12px;
  -o-background-size: 12px 12px;
  -webkit-background-size: 12px 12px;
  background-size: 12px 12px;
  background-repeat: no-repeat;
  background-position: 98% 50%;
}
.datepicker {
  font-size: 8pt;
  color: #b6b6b6;
  border: 1px solid #e7e7e7;
  padding: 5px;
  -webkit-box-shadow: inset 0 0 8px rgba(0, 0, 0, 0.1), 0 0 16px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: inset 0 0 8px rgba(0, 0, 0, 0.1), 0 0 16px rgba(0, 0, 0, 0.1);
  box-shadow: inset 0 0 8px rgba(0, 0, 0, 0.1), 0 0 16px rgba(0, 0, 0, 0.1);
  background: rgba(255, 255, 255, 0.5);
  border-color: #e6e6e6;
}
.tab {
  background: transparent;
  position: relative;
  top: 0;
  width: 100%;
}
.tab div.filterTab,
.tab div.updates {
  padding: 5px 10px 5px 10px;
  margin-top: -15px;
  display: block;
  font-family: "Segoe UI";
  font-size: 10pt;
  font-weight: bold;
  -webkit-border-radius: 0 0 4px 4px;
  -moz-border-radius: 0 0 4px 4px;
  border-radius: 0 0 4px 4px;
  -moz-box-shadow: 0px 2px 2px 0 rgba(0, 0, 0, 0.4);
  -webkit-box-shadow: 0px 2px 2px 0 rgba(0, 0, 0, 0.4);
  box-shadow: 0px 2px 2px 0 rgba(0, 0, 0, 0.4);
  cursor: pointer;
  -webkit-text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
}
.tab div.filterTab {
  background: #0094cd;
  /*background: -moz-linear-gradient(top,  @metro-blue 0%, @metro-mild-blue 45%, @metro-serious-blue 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,@metro-blue), color-stop(45%,@metro-mild-blue), color-stop(100%,@metro-serious-blue));
	background: -webkit-linear-gradient(top,  @metro-blue 0%,@metro-mild-blue 45%,@metro-serious-blue 100%);
	background: -o-linear-gradient(top,  @metro-blue 0%,@metro-mild-blue 45%,@metro-serious-blue 100%);
	background: -ms-linear-gradient(top,  @metro-blue 0%,@metro-mild-blue 45%,@metro-serious-blue 100%);
	background: linear-gradient(to bottom,  @metro-blue 0%,@metro-mild-blue 45%,@metro-serious-blue 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='@metro-blue', endColorstr='@metro-serious-blue',GradientType=0 );*/

  color: white;
  float: right;
  color: white;
  margin-right: 30px;
}
.tab div.filterTab:hover {
  color: wheat;
}
.tab div.updates {
  background: #f7e961;
  /* Old browsers */

  background: -moz-linear-gradient(top, #f7e961 0%, #f2dc4d 35%, #efd642 50%, #eccd35 100%);
  /* FF3.6+ */

  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f7e961), color-stop(35%, #f2dc4d), color-stop(50%, #efd642), color-stop(100%, #eccd35));
  /* Chrome,Safari4+ */

  background: -webkit-linear-gradient(top, #f7e961 0%, #f2dc4d 35%, #efd642 50%, #eccd35 100%);
  /* Chrome10+,Safari5.1+ */

  background: -o-linear-gradient(top, #f7e961 0%, #f2dc4d 35%, #efd642 50%, #eccd35 100%);
  /* Opera 11.10+ */

  background: -ms-linear-gradient(top, #f7e961 0%, #f2dc4d 35%, #efd642 50%, #eccd35 100%);
  /* IE10+ */

  background: linear-gradient(to bottom, #f7e961 0%, #f2dc4d 35%, #efd642 50%, #eccd35 100%);
  /* W3C */

  filter: progid:dximagetransform.microsoft.gradient(startColorstr='#f7e961', endColorstr='#eccd35', GradientType=0);
  /* IE6-9 */

  color: black;
  float: right;
  color: black;
  margin-right: 10px;
}
.tab div.updates:hover {
  color: #515151;
}
#topPanel {
  position: absolute;
  top: 5px;
  height: 0px;
  width: 100%;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
#filterPanel,
#updatesPanel {
  width: 100%;
  height: 50px;
  color: #999999;
  background: #ffffff;
  overflow: hidden;
  position: relative;
  z-index: 3;
  display: none;
  top: -15px;
  border: 1px solid #aaaaaa;
}
#filterPanel {
  height: 50px;
}
#updatesPanel {
  height: 150px;
}
.filterContainer {
  float: left;
  display: inline-block;
  width: 98.3%;
  -moz-box-shadow: 0 2px 4px 0 rgba(50, 50, 50, 0.2);
  -webkit-box-shadow: 0 2px 4px 0 rgba(50, 50, 50, 0.2);
  box-shadow: 0 2px 4px 0 rgba(50, 50, 50, 0.2);
  background-color: white;
  margin-bottom: 16px;
  height: 30px;
  border-bottom: 1px solid #e7e7e7;
  padding: 8px;
}
.filterItemContainer {
  float: left;
  margin-left: 20px;
}
.username {
  background: #0094cd;
  /*background: -moz-linear-gradient(top,  @metro-blue 0%, @metro-mild-blue 45%, @metro-serious-blue 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,@metro-blue), color-stop(45%,@metro-mild-blue), color-stop(100%,@metro-serious-blue));
	background: -webkit-linear-gradient(top,  @metro-blue 0%,@metro-mild-blue 45%,@metro-serious-blue 100%);
	background: -o-linear-gradient(top,  @metro-blue 0%,@metro-mild-blue 45%,@metro-serious-blue 100%);
	background: -ms-linear-gradient(top,  @metro-blue 0%,@metro-mild-blue 45%,@metro-serious-blue 100%);
	background: linear-gradient(to bottom,  @metro-blue 0%,@metro-mild-blue 45%,@metro-serious-blue 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='@metro-blue', endColorstr='@metro-serious-blue',GradientType=0 );*/

  color: white;
  background-image: url("../Content/images/user_white.png");
  -moz-background-size: 14px 14px;
  -o-background-size: 14px 14px;
  -webkit-background-size: 14px 14px;
  background-size: 14px 14px;
  background-repeat: no-repeat;
  background-position: 2% 50%;
  color: white;
  margin: 4px 0 0 30px;
  width: 250px;
  float: left;
}
.password {
  float: left;
  width: 250px;
  background: #0094cd;
  /*background: -moz-linear-gradient(top,  @metro-blue 0%, @metro-mild-blue 45%, @metro-serious-blue 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,@metro-blue), color-stop(45%,@metro-mild-blue), color-stop(100%,@metro-serious-blue));
	background: -webkit-linear-gradient(top,  @metro-blue 0%,@metro-mild-blue 45%,@metro-serious-blue 100%);
	background: -o-linear-gradient(top,  @metro-blue 0%,@metro-mild-blue 45%,@metro-serious-blue 100%);
	background: -ms-linear-gradient(top,  @metro-blue 0%,@metro-mild-blue 45%,@metro-serious-blue 100%);
	background: linear-gradient(to bottom,  @metro-blue 0%,@metro-mild-blue 45%,@metro-serious-blue 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='@metro-blue', endColorstr='@metro-serious-blue',GradientType=0 );*/

  color: white;
  background-image: url("../Content/images/key_white.png");
  -moz-background-size: 15px 10px;
  -o-background-size: 15px 10px;
  -webkit-background-size: 15px 10px;
  background-size: 15px 10px;
  background-repeat: no-repeat;
  background-position: 2% 50%;
  color: white;
  margin: 4px 0 0 30px;
}
.username::-webkit-input-placeholder,
.password::-webkit-input-placeholder {
  color: white;
}
.username:-moz-placeholder,
.password:-moz-placeholder {
  color: white;
}
.username:-ms-input-placeholder,
.password:-ms-input-placeholder {
  color: white;
}
.button,
.normalButton {
  border: 1px solid #e7e7e7;
  padding: 5px;
  color: #0094cd;
  background-repeat: no-repeat;
  background-position: 10% 50%;
  -webkit-border-radius: 4px 4px 4px 4px;
  -moz-border-radius: 4px 4px 4px 4px;
  border-radius: 4px 4px 4px 4px;
  font-weight: bold;
  font-size: 9pt;
  background-color: white;
  cursor: pointer;
  margin: 4px;
}
.button:disabled,
.normalButton:disabled {
  -moz-background-size: 11px 11px;
  -o-background-size: 11px 11px;
  -webkit-background-size: 11px 11px;
  background-size: 11px 11px;
  background-repeat: no-repeat;
  color: #aaaaaa;
}
.button:disabled:hover,
.normalButton:disabled:hover {
  -moz-background-size: 11px 11px;
  -o-background-size: 11px 11px;
  -webkit-background-size: 11px 11px;
  background-size: 11px 11px;
  background-repeat: no-repeat;
  color: #aaaaaa;
  background-color: white;
}
.button {
  padding: 5px 5px 5px 25px;
}
.filter {
  background-image: url("../Content/images/search_black.png");
  background-repeat: no-repeat;
  -moz-background-size: 11px 11px;
  -o-background-size: 11px 11px;
  -webkit-background-size: 11px 11px;
  background-size: 11px 11px;
}
.cancel {
  padding: 5px;
}
.save {
  background-image: url("../Content/images/save_black.png");
  background-repeat: no-repeat;
  -moz-background-size: 11px 11px;
  -o-background-size: 11px 11px;
  -webkit-background-size: 11px 11px;
  background-size: 11px 11px;
}
.save:disabled {
  background-image: url("../Content/images/save_disabled.png");
  -moz-background-size: 11px 11px;
  -o-background-size: 11px 11px;
  -webkit-background-size: 11px 11px;
  background-size: 11px 11px;
  background-repeat: no-repeat;
  color: #aaaaaa;
}
.save:disabled:hover {
  background-image: url("../Content/images/save_disabled.png");
  -moz-background-size: 11px 11px;
  -o-background-size: 11px 11px;
  -webkit-background-size: 11px 11px;
  background-size: 11px 11px;
  background-repeat: no-repeat;
  color: #aaaaaa;
  background-color: white;
}
.mildText {
  color: #aaaaaa;
  padding: 0;
}
.small {
  font-size: 8pt;
}
.extraSmall {
  font-size: 7pt;
}
.floatRight {
  float: right;
}
div.booked,
div.projected {
  height: 18px;
  margin-top: 10px;
  text-align: center;
  color: white;
  padding-top: 2px;
  float: left;
}
div.booked {
  background: #358e7a;
}
div.projected {
  background: #006393;
}
.horizontalLayout {
  background-color: inherit;
  height: inherit;
  padding-left: 10px;
}
.resultItem {
  display: inline-block;
  margin: 8px 2px 8px 2px;
  padding: 4px;
  font-family: inherit;
  font-size: 9pt;
  -webkit-border-radius: 4px 4px 4px 4px;
  -moz-border-radius: 4px 4px 4px 4px;
  border-radius: 4px 4px 4px 4px;
  color: black;
  background: white;
  -moz-box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.2);
  border: 1px solid #e7e7e7;
}
.inboxItem {
  height: 85px;
  width: 220px;
}
.clientItem {
  height: 105px;
  width: 220px;
}
.clientLink {
  color: #0094cd;
  text-decoration: none;
}
.gold {
  border-left: 10px  solid #F0D878;
}
.platinum {
  border-left: 10px  solid #0087A9;
}
.diamond {
  border-left: 10px  solid #E1FAFC;
}
.priority {
  font-size: 7pt;
}
.techAndCountry {
  color: gray;
  font-size: 7pt;
}
.contactsSpan {
  font-size: 7pt;
}
.positionsSpan {
  font-size: 7pt;
  margin-bottom: 4px;
}
.status {
  color: green;
  float: right;
  font-size: 7pt;
}
p {
  overflow: hidden;
  -ms-text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 200px;
  margin: 0;
}
.normalLabel {
  font-size: 7pt;
}
.boldLabel {
  font-size: 7pt;
  font-weight: bold;
}
.positionsCountLink {
  color: #0094cd;
  text-decoration: none;
  font-size: 7pt;
}
.revenue {
  width: 110px;
  height: 18px;
  margin-top: 10px;
  text-align: center;
  color: white;
  padding-top: 2px;
  float: left;
}
.booked {
  background: #358E7A;
}
.projected {
  background: #006393;
}
.addButton {
  border: 1px solid #e7e7e7;
  padding: 5px 5px 5px 25px;
  color: #0094cd;
  background-image: url("../Content/images/add_black.png");
  -moz-background-size: 11px 11px;
  -o-background-size: 11px 11px;
  -webkit-background-size: 11px 11px;
  background-size: 11px 11px;
  background-repeat: no-repeat;
  background-position: 5% 50%;
  -webkit-border-radius: 4px 4px 4px 4px;
  -moz-border-radius: 4px 4px 4px 4px;
  border-radius: 4px 4px 4px 4px;
  font-weight: bold;
  font-size: 9pt;
  margin-right: 2%;
  background-color: white;
}
.right {
  float: right;
}
.blueLabel {
  color: #0094cd;
}
.formDiv {
  -moz-box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.2);
  margin: 0 8px 8px 8px;
  padding: 20px;
  height: 100%;
}
.titleLabel {
  font-size: 11pt;
  font-weight: bold;
  margin: 10px 10px 20px 8px;
}
.textBox {
  width: 80%;
  padding: 2px;
  margin: 0 0 0 4px;
}
.textArea {
  width: 80%;
  height: 65px;
  padding: 3px;
  margin: 0 0 0 4px;
}
.details-left {
  float: left;
  clear: both;
  width: 94%;
}
.details-left label {
  clear: both;
  display: block;
  float: left;
}
.formLabel {
  float: left;
  width: 120px;
  margin: 8px;
}
.emptyLabel {
  float: left;
  width: 120px;
  margin: 0;
}
.field {
  float: left;
  margin: 4px 8px 4px 8px;
  width: 100%;
}
.industry,
.country,
.state,
.city,
.priority {
  width: 130px;
  font-size: 8pt;
}
.activeStatus,
.inactiveStatus {
  font-size: 7pt;
  float: right;
}
.activeStatus {
  color: #358e7a;
}
.inactiveStatus {
  color: #eccd35;
}
.tabHeader {
  margin: 8px 4px 4px 4px;
  font-weight: bold;
  float: left;
  width: 100%;
}
.title {
  background: #0094cd;
  /*background: -moz-linear-gradient(top,  @metro-blue 0%, @metro-mild-blue 45%, @metro-serious-blue 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,@metro-blue), color-stop(45%,@metro-mild-blue), color-stop(100%,@metro-serious-blue));
	background: -webkit-linear-gradient(top,  @metro-blue 0%,@metro-mild-blue 45%,@metro-serious-blue 100%);
	background: -o-linear-gradient(top,  @metro-blue 0%,@metro-mild-blue 45%,@metro-serious-blue 100%);
	background: -ms-linear-gradient(top,  @metro-blue 0%,@metro-mild-blue 45%,@metro-serious-blue 100%);
	background: linear-gradient(to bottom,  @metro-blue 0%,@metro-mild-blue 45%,@metro-serious-blue 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='@metro-blue', endColorstr='@metro-serious-blue',GradientType=0 );*/

  color: white;
  color: white;
  font-size: 9pt;
  float: left;
  margin: 4px 4px 0 4px;
  height: 18px;
  padding: 2px 8px 2px 8px;
}
.editContainer {
  float: left;
  margin: 4px;
}
.buttonPanel {
  width: 98%;
}
.details {
  height: 50%;
  width: 58%;
}
.section {
  background: white;
  -moz-box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.13);
  -webkit-box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.13);
  box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.13);
  float: left;
  margin: 0 4px 4px 4px;
  padding-top: 2px;
  padding-bottom: 2px;
  border: 1px solid #e7e7e7;
}
.detailsSection {
  width: 100%;
  height: 92%;
}
.addressSection {
  width: 100%;
  height: 85%;
}
.address {
  height: 24%;
  width: 40%;
}
.location {
  height: 30%;
  width: 40%;
}
.locationSection {
  width: 100%;
  height: 100%;
}
.existingNames {
  width: 100px;
}
.agreement {
  height: 20%;
  width: 100%;
}
.agreementSection {
  height: 100%;
  width: 98%;
}
.contacts {
  height: 30%;
  width: 100%;
}
.contactsSection {
  height: 100%;
  width: 98%;
}
li.contactItem {
  width: 150px;
  padding: 4px;
}
li.contactItem img {
  float: right;
  cursor: pointer;
}
.contactName {
  font-size: 7pt;
  font-weight: bold;
  font-size: 9pt;
  margin: 0;
  float: left;
  width: 80%;
}
.contactTitle {
  color: gray;
  font-size: 7pt;
  margin: 0;
  float: left;
  width: 100%;
}
.adminContainer {
  -moz-box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.13);
  -webkit-box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.13);
  box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.13);
  border: 1px solid #e7e7e7;
  margin: 8px;
  width: 98%;
  height: 400px;
  float: left;
}
.adminCategory {
  font-size: 10pt;
  font-weight: bold;
  margin: 16px 0 0 16px;
}
hr {
  background-color: #e7e7e7;
  width: 98%;
  margin: 2px 0 0 0;
}
.facebook,
.twitter,
.personalize {
  width: 40px;
  height: 40px;
  margin: 2px;
}
.adminList {
  display: inline-block;
  padding-left: 10px;
  margin: 2px;
}
.adminList li {
  display: inline-block;
  margin: 2px 4px 2px 4px;
}
.adminList li a {
  text-decoration: none;
  color: black;
}
.textCenter {
  text-align: center;
}
.companyAppHeader,
.callbackUrl {
  width: 300px;
}
.basic,
.mid,
.bold,
.controlBorder,
.foreground {
  padding: 2px;
  width: 100px;
  color: white;
}
.controlBorder {
  background-color: #e6e6e6;
}
.foreground {
  background-color: #ffffff;
  color: black;
}
.basic {
  background-color: #0094cd;
}
.mid {
  background-color: #0088cc;
}
.bold {
  background-color: #006393;
}
.margin {
  margin-top: 16px;
}
.adminSection {
  width: 60%;
  float: left;
}
.previewSection {
  width: 40%;
  float: left;
}
.previewHeaderDiv {
  margin: 40px 50px 0px 12px;
  font-weight: bold;
  font-size: 8pt;
}
.previewAppDiv {
  border: 1px solid #e7e7e7;
  -moz-box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.13);
  -webkit-box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.13);
  box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.13);
  margin: 10px 50px 50px 10px;
  height: 200px;
  width: 350px;
}
.previewAppDiv .header {
  height: 30px;
  width: 100%;
  background-color: #515151;
}
.previewAppDiv .menu-mini {
  height: 15px;
  background-color: #0094cd;
}
.previewAppDiv .menu-mini-ul {
  padding: 0;
  margin: 0;
  padding-left: 15px;
}
.previewAppDiv .menuitem-mini-li {
  display: inline-block;
  list-style-type: none;
  vertical-align: middle;
  font-weight: bold;
  line-height: 9px;
  height: 15px;
  -webkit-text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
  background-color: inherit;
  color: white;
  font-size: 5pt;
}
.previewAppDiv .menuitem-mini-li:hover {
  background-color: white;
  color: black;
}
.previewAppDiv .menuLink-mini {
  font-size: 5pt;
  padding-right: 5px;
  padding-left: 5px;
  padding-top: 5px;
  padding-bottom: 2px;
  color: inherit;
}
.previewAppDiv .menuLink-mini:link,
.previewAppDiv .menuLink-mini:visited {
  color: black;
  text-decoration: none;
}
.login-div {
  width: 700px;
  height: 270px;
  background: white;
  border: 1px solid #e7e7e7;
  margin: 50px;
  left: 15%;
  top: 10%;
  position: relative;
  -moz-box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.2);
}
.appLoginDiv {
  float: left;
  width: 50%;
  height: 100%;
}
.loginLabel {
  font-size: 14pt;
  color: #0094cd;
  margin: 20px 10px 10px 30px;
  float: left;
}
.otherLoginDiv {
  float: right;
  width: 49%;
  height: 100%;
}
.dividerDiv {
  float: left;
  width: 1px;
  height: 175px;
  background: #e7e7e7;
  margin-top: 30px;
  margin-bottom: 30px;
}
.control-div {
  float: left;
  width: 100%;
}
.wizardContainer {
  width: 96%;
  height: 500px;
  background: white;
  border: 1px solid #e7e7e7;
  margin: 8px 8px 8px 20px;
  -webkit-border-radius: 4px 0 0 4px;
  -moz-border-radius: 4px 0 0 4px;
  border-radius: 4px 0 0 4px;
}
.wizardStepsContainer {
  width: 130px;
  background: #515151;
  height: 100%;
  -webkit-border-radius: 4px 0 0 4px;
  -moz-border-radius: 4px 0 0 4px;
  border-radius: 4px 0 0 4px;
}
.wizardStepsList {
  width: inherit;
  height: auto;
}
.step {
  height: inherit;
  list-style-type: none;
  color: white;
  font-size: 8pt;
  padding: 10px 0px 10px 0px;
  width: inherit;
}
.stepImage {
  margin: 4px 8px 4px 12px;
}
.stepLabel {
  margin: 4px 2px 2px 2px;
  font-size: 8pt;
}
.stepActiveFirst,
.stepActive {
  background: #646464;
}
.stepActiveFirst {
  -webkit-border-radius: 4px 0 0 4px;
  -moz-border-radius: 4px 0 0 4px;
  border-radius: 4px 0 0 4px;
}
.wizardStepViewContainer {
  background: #fff;
  height: 100%;
  width: 86%;
}
.wizardStepViewSection {
  height: 90%;
  width: 100%;
}
.wizardButtonsContainer {
  height: 10%;
  width: auto;
  padding: 4px 10px 0 0;
}
.view {
  display: none;
  width: 100%;
  height: 100%;
  overflow: auto;
}
.detailsViewSection {
  width: 66%;
  height: 100%;
  padding: 30px 8px 10px 30px;
}
.detailsDidYouMeanSection {
  width: 14%;
  height: 100%;
  padding: 4px;
}
.detailsViewDivider {
  height: 80%;
}
.defaultFormMargin {
  margin: 4px;
}
.phone {
  background-image: url("../Content/images/phone_black.png");
  -moz-background-size: 12px 14px;
  -o-background-size: 12px 14px;
  -webkit-background-size: 12px 14px;
  background-size: 12px 14px;
  background-repeat: no-repeat;
  background-position: 2% 50%;
}
.fax {
  background-image: url("../Content/images/fax_black.png");
  -moz-background-size: 12px 14px;
  -o-background-size: 12px 14px;
  -webkit-background-size: 12px 14px;
  background-size: 12px 14px;
  background-repeat: no-repeat;
  background-position: 2% 50%;
}
.addressViewSection {
  width: 70%;
  height: 90%;
  padding: 30px 8px 10px 30px;
}
