@metro-blue: #0094cd;
@metro-mild-blue: #0088cc;
@metro-mild-grey: #515151;
@metro-light-grey: #e7e7e7;

@font-family: "Segoe UI", Arial, Helvetica, Verdana;
* {
    margin: 0;
    font-family: @font-family;
    font-size: 10pt;
}

.text-shadow(@x :0, @y: 0, @blur: 0, @r: 0, @g: 0, @b: 0, @a: 0.2) {
    -webkit-text-shadow: @x @y @blur rgba(@r, @g, @b, @a);
    text-shadow: @x @y @blur rgba(@r, @g, @b, @a);
}

.border-radius(@t :4px, @r: 4px, @b: 4px, @l: 4px) {
	-webkit-border-radius:@t @r @b @l;
    -moz-border-radius:@t @r @b @l;
    border-radius:@t @r @b @l;
}

.box-shadow(@a: 0, @x: 0, @c: 0, @d: 0, @r: 0, @g: 0, @b: 0, @a: 0) {
    -moz-box-shadow: @a @x @c @d rgba(@r, @g, @b, @a);
    -webkit-box-shadow: @a @x @c @d rgba(@r, @g, @b, @a);
    box-shadow: @a @x @c @d rgba(@r, @g, @b, @a);
}
.box-shadow-inset(@x :0, @y: 0, @z: 0, @r: 0, @g: 0, @b: 0, @a: 0, 
@x1 :0, @y1: 0, @z1: 0, @r1: 0, @g1: 0, @b1: 0, @a1: 0) {
	-webkit-box-shadow: inset @x @y @z rgba(@r,@g,@b,@a), @x1 @y1 @z1 rgba(@r1,@g1,@b1,@a1); 
    -moz-box-shadow: inset @x @y @z rgba(@r,@g,@b,@a), @x1 @y1 @z1 rgba(@r1,@g1,@b1,@a1); 
    box-shadow: inset @x @y @z rgba(@r,@g,@b,@a), @x1 @y1 @z1 rgba(@r1,@g1,@b1,@a1); 
}

.background-size(@x: 0, @y: 0) {
	-moz-background-size: @x @y;
    -o-background-size: @x @y;
    -webkit-background-size: @x @y;
    background-size: @x @y;
}

.border-light-grey {
	border: 1px solid @metro-light-grey;
}

.metro-blue-gradient {
	background-image: -ms-linear-gradient(top, @metro-mild-blue, @metro-blue);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(@metro-mild-blue), to(@metro-blue));
    background-image: -webkit-linear-gradient(top, @metro-mild-blue, @metro-blue);
    background-image: -o-linear-gradient(top, @metro-mild-blue, @metro-blue);
    background-image: -moz-linear-gradient(top, @metro-mild-blue, @metro-blue);
    background-image: linear-gradient(top, @metro-mild-blue, @metro-blue);
    background-repeat: repeat-x;
}
.headerContainer
{
    width:100%;
    display:table;
}
.container
{
    position: absolute;
    width: 100%;
    top: 100px;
    bottom: 35px;
}
header
{
    background-color: @metro-mild-grey;
    height:60px;
}
.menu
{
    background-color: @metro-blue;
    *background-color: @metro-blue;
    .metro-blue-gradient;
    border-color: @metro-blue @metro-blue #003580;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    filter: progid:dximagetransform.microsoft.gradient(startColorstr='@metro-mild-blue', endColorstr='@metro-blue', GradientType=0);
    filter: progid:dximagetransform.microsoft.gradient(enabled=false);
    display: inline;
    margin: 0px;
}
.menulist
{
    background-color: inherit;
    height: inherit;
    padding-left: 20px;    
}
.menuitem
{
    height: inherit;
    display: inline-block;
    list-style-type: none;
    vertical-align: middle;
    font-weight: bold;
    padding-right: 10px;
    padding-left: 10px;
    line-height: 25px;
	.text-shadow(2px, 2px, 2px, 0, 0, 0, 0.2);
}
.inactive
{
    background-color: inherit;
    color: white;

	&:hover {
		background-color: white;
		color: black;
	}
}
.active
{
    background-color: white;
    color: black;
}
#topnav 
{
    padding:10px 15px 12px;
    font-size:11px;
    line-height:23px;
    text-align:right;
    display:table-cell;
    vertical-align:top;
}
#topnav a.signin {
    background: transparent;
    padding:4px 6px 6px;
    text-decoration:none;
    color:#fff;
    .border-radius(4px, 4px, 4px, 4px);
    *background: transparent;
    *padding:4px 12px 6px;
	font-size: 7pt;

	&:hover {
		background:@metro-blue;
		color: white;
		*background: white;
		*padding:4px 12px 6px;
	}
}
#topnav a.signin, #topnav a.signin:hover {
    *background-position:0 3px!important;
}
a {
	&:link, &:visited {
		color: inherit;
		text-decoration:none;
	}
}
a img {
    border-width:0;
    color: inherit;
}
a.signin {
    position:relative;
    margin-left:3px;
}
a.signin span {
    background-image:url("../Content/images/toggle_down_light.png");
    background-repeat:no-repeat;
    background-position:100% 50%;
    padding:4px 16px 6px 0;
}
#signin_menu {
    .border-radius(4px, 4px, 4px, 4px);
    display:none;
    background-color:#ffffff;
    position:absolute;
    width:210px;
    z-index:100;
    border:1px transparent;
    text-align:left;
    padding:12px;
    top: 24.5px;
    right: 0px;
    margin-top:5px;
    margin-right: 15px;
    *margin-right: -1px;
    color:#789;
    font-size:11px;
	.box-shadow(3px, 3px, 7px, 0px, 0, 0, 0, 0.45);
}

#signin_menu input[type=text], #signin_menu input[type=password] {
    display:block;
    .border-radius(4px, 4px, 4px, 4px);
    border:1px solid #ACE;
    font-size:13px;
    margin:0 0 5px;
    padding:5px;
    width:203px;
}
#signin_menu p {
    margin:0;
}
#signin_menu a {
    color:#6AC;
}
#signin_menu label {
    font-weight:normal;
}
#signin_menu p.remember {
    padding:10px 0;
}
#signin_menu p.forgot, #signin_menu p.complete {
    clear:both;
}
#signin_menu p a {
    color:#27B!important;
}
#signin, #signout, #account {
   .border-radius(4px, 4px, 4px, 4px);
    background:#39d ;
    border:1px solid #39D;
    color:#fff;
	.text-shadow(0, -1px, 0, 51, 153, 221, 1);
    padding:4px 10px 5px;
    font-size:11px;
    margin:0 5px 0 0;
    font-weight:bold;
}
#signin::-moz-focus-inner, #signout::-moz-focus-inner, #account::-moz-focus-inner {
padding:0;
border:0;
}
#signin:hover, #signin:focus, #signout:hover, #signout:focus, #account:hover, #account:focus {
    background-position:0 -5px;
    cursor:pointer;
    background: @metro-light-grey;
    color: black;
    border: 1px solid #d3d3d3;
}
#topnav a.menu-open {
    background: white!important;
    color: #666!important;
    -moz-outline: none;
    outline: none;
}
#small_signup {
    display:inline;
    float:none;
    line-height:23px;
    margin:25px 0 0;
}
a.signin.menu-open span {
    background-image:url("../Content/images/toggle_up_dark.png");
    color:#789;
}
label
{
    font-size: 9pt;
}
a.forgotLink {
    font-size: 9pt;
}
.profilePic
{
	height: 50px;
	width: 50px;
	background: rgba(255, 255, 255, .8);
	border: 1px solid rgba(255, 255, 255, .8);
	.box-shadow(0px, 0px, 25px, 0px, 0, 0, 0, 0.3);
	padding: 4px;
	float:left;
}
.detailsLabel
{
	margin-left: 2%;
	margin-top: 0px;
	color: black;
	font-size: 9pt;
}
.ellipsis {
    white-space: nowrap;
    overflow: hidden;
}
.left-div, .right-div {
    float:left;
    height: 100%;
}
.left-div {
    width: 78%;
}
.right-div {
    width: 22%;
    margin-top: 5%;
}
.statusList
{
    background-color: inherit;
    height: inherit;
    padding-left: 20px;    
}
.statusItem
{
    display: inline-block;
    padding: 4px 8px 4px 8px;
    font-family: inherit;
    font-size: 9pt;
   .border-radius(4px, 4px, 4px, 4px);
    cursor: pointer;
    color: black;
    background: white;
    .border-light-grey;
}
.selectedStatus
{
    color: white;
    background: @metro-mild-grey;

	&:hover	{
		background: @metro-mild-grey;
		color: white;
	}
}
.inbox
{
    background-color: inherit;
    height: inherit;
    padding-left: 10px; 
}
.inboxItem
{
    display: inline-block;
    margin: 8px 2px 8px 2px;
    padding: 4px 8px 4px 8px;
    font-family: inherit;
    font-size: 9pt;
    .border-radius(4px, 4px, 4px, 4px);
    color: black;
    background: white;
    .border-light-grey;
	.box-shadow(0px, 0px, 25px, 0px, 0, 0, 0, 0.2);
    height: 100px;
    width: 230px;
}
.outerDiv
{
    .border-light-grey;
    .border-radius(4px, 4px, 4px, 4px);
    .box-shadow(0px, 0px, 25px, 0px, 0, 0, 0, 0.2);
}
.headerDiv
{
    .border-radius(4px, 4px, 0px, 0px);
    height: 25px;
	.text-shadow(2px, 2px, 2px, 0, 0, 0, 0.2);
    font-family: inherit;
    padding-left: 8px;
    padding-top: 4px;
    font-weight: Bold;
}
.blue
{
    background: #2da3ea; /* Old browsers */
    background: -moz-linear-gradient(top,  #2da3ea 0%, #129ad8 35%, #0897d2 50%, @metro-blue 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#2da3ea), color-stop(35%,#129ad8), color-stop(50%,#0897d2), color-stop(100%,@metro-blue)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #2da3ea 0%,#129ad8 35%,#0897d2 50%,@metro-blue 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #2da3ea 0%,#129ad8 35%,#0897d2 50%,@metro-blue 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #2da3ea 0%,#129ad8 35%,#0897d2 50%,@metro-blue 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #2da3ea 0%,#129ad8 35%,#0897d2 50%,@metro-blue 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2da3ea', endColorstr='@metro-blue',GradientType=0 ); /* IE6-9 */
    color: white;
}
.yellow
{
    background: #f7e961; /* Old browsers */
    background: -moz-linear-gradient(top,  #f7e961 0%, #f2dc4d 35%, #efd642 50%, #eccd35 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f7e961), color-stop(35%,#f2dc4d), color-stop(50%,#efd642), color-stop(100%,#eccd35)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #f7e961 0%,#f2dc4d 35%,#efd642 50%,#eccd35 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #f7e961 0%,#f2dc4d 35%,#efd642 50%,#eccd35 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #f7e961 0%,#f2dc4d 35%,#efd642 50%,#eccd35 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #f7e961 0%,#f2dc4d 35%,#efd642 50%,#eccd35 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f7e961', endColorstr='#eccd35',GradientType=0 ); /* IE6-9 */
    color: black;
}
input[type=checkbox] {
    visibility: hidden;
}
.squaredOne {
    width: 12px;
    height: 12px;
    background: white;
    .border-light-grey;
    margin: 4px;
    position: relative;
}
.labelForCheckbox {
    cursor: pointer;
    position: absolute;
    width: 7px;
    height: 7px;
    left: 2px;
    top: 2px;
}

.labelForCheckbox:after {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    -moz-opacity: 0;
    opacity: 0;
    content: '';
    position: absolute;
    width: 6px;
    height: 6px;
    background: @metro-blue;
    top: 1px;
    left: 1px;
}

.labelForCheckbox:hover::after {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
    filter: alpha(opacity=30);
    -moz-opacity: 0.3;
    opacity: 0.3;
}

.squaredOne input[type=checkbox]:checked + .labelForCheckbox:after {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: alpha(opacity=100);
    -moz-opacity: 1;
    opacity: 1;
}
.defaultLabel
{
    margin: 4px;
    width: auto;
    color: gray;
    font-size: 8pt;
}
.search {
    .border-light-grey;
    .box-shadow-inset(0,0,8px,0,0,0,0.1,0,0,16px,0,0,0,0.1);
    padding: 5px;
    background: rgba(255,255,255,0.5);
    background-image: url("../Content/images/search_blue.png");
    .background-size(12px, 12px);
    background-repeat: no-repeat;
    background-position: 98% 50%;
    margin: 8px 0 10px 4px;
    font-size: 8pt;
    width: 180px;
    color: #b6b6b6;
}
select
{
    font-size: 8pt;
    color: #b6b6b6;
    .box-shadow-inset(0,0,8px,0,0,0,0.1,0,0,16px,0,0,0,0.1);
	.border-radius(4px,4px,4px,4px);
    overflow: hidden;
    .border-light-grey;
    margin: 0px 0px 0px 4px;
    padding: 5px;
}
.datepicker
{
    font-size: 8pt;
    color: #b6b6b6;
    .border-light-grey;
    margin: 8px 0px 0px 4px;
    padding: 5px;
    .box-shadow-inset(0,0,8px,0,0,0,0.1,0,0,16px,0,0,0,0.1);
    background: rgba(255,255,255,0.5);
}